{% load static %}
{% load staticfiles %}
<link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/animate/animate.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/bootstrap-social/bootstrap-social.css' %}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">