{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hypothizer Labs | Home</title>
    <link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/device-mockups/device-mockups.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/grayscale.css' %}" rel="stylesheet">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <i class="fa fa-play-circle"></i> <span class="light">Hypothizer</span> Labs
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#offer">offering</a>
                </li>
                <li>
                    <a class="page-scroll" href="#demo">demo</a>
                </li>
                <li>
                    <a class="page-scroll" href="#how-it-work">how it works</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                <li>
                    <a class="page-scroll" href="{% url 'signup' %}">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Hypothizer Labs</h1>
                    <p class="intro-text">Let your car assist you</p>
                    <p class="intro-text">Explore about us</p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="offer" class="content-section  text-center">
    <div class="container">
        <div class="row">
            <h2>Offerings</h2>
            <h4>We provide APIs to detect/ recognize objects from images/ videos to empower self driving cars using our state of the art algorithms based upon Computer Vision and Deep Learning.</h4>
            <div class="col-lg-4">
                <div class="service">
                    <div class="service-i">
                        <img src="{% static 'assets/img/services/Traffic_Signs.jpg' %}" class="img-responsive img-circle">
                    </div>
                    <br><br>
                    <h3 class="service-t">Traffic Signs Recognition</h3>
                    <p class="service-d">Traffic Signs recognition API detects more than 100 classes of Indian traffic signages like Speed Limit, Traffic Signal, Stop Signs etc. </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service">
                    <div class="service-i">
                        <img src="{% static 'assets/img/services/lane.jpg' %}" class="img-responsive img-circle">
                    </div>
                    <br><br>
                    <h3 class="service-t">Lane Detection</h3>
                    <p class="service-d">Lane Detection API detects lane markings on Indian roads </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service">
                    <div class="service-i">
                        <img src="{% static 'assets/img/services/image_segmentation.png' %}" class="img-responsive img-circle">
                    </div>
                    <br><br>
                    <h3 class="service-t">Image Segmentation</h3>
                    <p class="service-d">Image Segmentation API segments the image in various parts like road, humans, vehicles, buildings, sky etc </p>
                </div>
            </div>

            {#            <div class="col-lg-8 col-lg-offset-2">#}
            {#                <h2>About Us</h2>#}
            {#                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis et nunc ac posuere. Vivamus quis tellus non sem condimentum vestibulum. Curabitur nec nisl felis. Duis dapibus urna ut urna interdum, et bibendum felis faucibus. Sed tristique orci non gravida placerat. Integer aliquam augue ac consequat luctus. Pellentesque leo tortor, laoreet at justo a, euismod mattis dolor. Integer non elementum erat, a vulputate neque. Sed et dignissim quam, sed imperdiet sem.</p>#}
            {#            </div>#}
        </div>
    </div>

</section>

<!-- Download Section -->
<section id="demo" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <a href="{% url 'demo' %}" class="btn btn-info btn-lg">check our free demo</a>
            </div>
        </div>
    </div>
</section>
<section id="how-it-work" class="content-section cube-texture text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Here's how it works</h1>
                <h4>It's Really simple actually</h4>
            </div>
        </div>
    </div>

</section>
<section id="demo-1" class="demo-section alternative-section-1 text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <img src="{% static 'assets/img/firedrop-setup-screen-01.png' %}" class="img-responsive">
            </div>
            <div class="col-lg-5">
                <h2>Step 1: Upload images and submit it</h2>
                <div class="seperator"></div>
            </div>
        </div>
    </div>
</section>
<section id="demo-1" class="demo-section alternative-section-2 text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h2>Step 2: Processing of Images</h2>
                <div class="seperator"></div>
                <br><br><br>
                <p>Our trained model with Convolutional Neural Network will process the images to detect/ recognize the required objects</p>
            </div>
            <div class="col-lg-7">
                <img src="{% static 'assets/img/firedrop-setup-screen-01.png' %}" class="img-responsive">
            </div>
        </div>
    </div>
</section>
<section id="demo-2" class="demo-section alternative-section-1 text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <img src="{% static 'assets/img/firedrop-setup-screen-01.png' %}" class="img-responsive">
            </div>
            <div class="col-lg-5">
                <h2>Step 2: Voila !!</h2>
                <div class="seperator"></div>
                <br><br><br>
                <p>You will get the output as output class, bounding box, and score</p>
            </div>
        </div>
    </div>
</section>
{% comment %}<section id="demo-3" class="demo-section alternative-section-1 text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>But wait thats not it</h1>
                <h4>Creating your website is only half the story</h4>
            </div>
        </div>
    </div>
</section>
<section id="api" class="api-section text-center">
    <div class="container">
        <div class="row">
            <h1>We provide these services in our api</h1>
            <h4>Check out what you can do with this app theme!</h4>
            <hr>
            <div class="col-lg-4">
                <div class="device-mockup iphone6_plus portrait white">
                    <div class="device">
                        <div class="screen">
                            <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                            <img src="{% static 'assets/img/demo-screen-1.jpg' %}" class="img-responsive" alt=""> </div>
                        <div class="button">
                            <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-7">
                <div class="row">
                    <br><br>
                    <div class="col-lg-6">
                        <div class="service">
                            <div class="service-i">
                                <img src="{% static 'assets/img/services/transport.png' %}" class="img-responsive">
                            </div>
                            <br><br>
                            <h3 class="service-t">Easy to use</h3>
                            <p class="service-d">askdjasd asjdhas asjdhakd askjdhakjshd askjdhjkasd ajshdkjahsd jkasdjah </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="service">
                            <div class="service-i">
                                <img src="{% static 'assets/img/services/security.png' %}" class="img-responsive">
                            </div>
                            <br><br>
                            <h3 class="service-t">Easy to use</h3>
                            <p class="service-d">askdjasd asjdhas asjdhakd askjdhakjshd askjdhjkasd ajshdkjahsd jkasdjah </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="service">
                            <div class="service-i">
                                <img src="{% static 'assets/img/services/travel.png' %}" class="img-responsive">
                            </div>
                            <br><br>
                            <h3 class="service-t">Easy to use</h3>
                            <p class="service-d">askdjasd asjdhas asjdhakd askjdhakjshd askjdhjkasd ajshdkjahsd jkasdjah </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="service">
                            <div class="service-i">
                                <img src="{% static 'assets/img/services/vehicle.png' %}" class="img-responsive">
                            </div>
                            <br><br>
                            <h3 class="service-t">Easy to use</h3>
                            <p class="service-d">askdjasd asjdhas asjdhakd askjdhakjshd askjdhjkasd ajshdkjahsd jkasdjah </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> {% endcomment %}
<section class="amazing-section text-center">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
            <h1>Sounds amazing</h1>
            <a href="{% url 'demo' %}" class="btn btn-default btn-lg">CHECK OUR FREE DEMO <span class="fa fa-arrow-right"></span></a>
        </div>
    </div>
</section>
<!-- Contact Section -->
<section id="contact" class="content-section cube-texture text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Start Bootstrap</h2>
                <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
                <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container text-center">
        <p>Copyright &copy; hypothizerlab 2016</p>
    </div>
</footer>

<script src="{% static 'assets/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="{% static 'assets/grayscale.js' %}"></script>
</body>
</html>
